* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#pixelInput {
    margin-bottom: 16px;
}

#grid-container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

/* color grid and options */

#customColor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 8px;
    width: 100px;
}

#customColor li {
    height: 30px;
}

